{% extends 'base.html' %}
{% load static %}
{% block title %}
  Tasker | Add category
{% endblock %}

{% block content %}
  <h2 class="text-center">Add category</h2>
  <br />

  <form class="text-center" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">Category Name:</label>
      <input class="form-control" type="text" id="id_name" name="name" />
    </div>
  </form>
  <div class="text-center">
    <a class="btn btn-outline-success btn-lg" href="{% url 'dashboard' %}">Add Category</a>
    <br /> <br />
    <a class="btn btn-outline-success btn-lg" href="{% url 'view-categories' %}">View Categories</a>
  </div>
{% endblock %}
