{% extends 'base-with-navbar.html' %}
{% load static %}
{% block title %}
  Tasker | All tasks
{% endblock %}
{% block content %}
  <h1 class="text-center">There is your work to do:</h1>
  <hr />
  {% for t in task %}
    <div class="container bg-white shadow-md p-5 form-layout" style="margin-top:20px;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault"><h3>{{ t.title }}</h3></label>
      </div>
      <p>
        Content:
        <br /> {{ t.content }}
      </p>
      <p>Created: {{ t.created }}</p>
      <p>Category: {{ t.category }}</p>
      <p>Priority: {{ t.priority }}</p>

      <br /><br />
      <a class="btn btn-success navbar-btn" type="button" href="{% url 'update-task' t.id %}">Update task</a>
      <br /><br />
      <a class="btn btn-warning navbar-btn" type="button" href="{% url 'delete-task' t.id %}">Delete task</a>
    </div>
  {% endfor %}
  <br />
  <br />
  <a href="{% url 'create-task' %}" class="green-link">Create new task</a>
{% endblock %}
